# virtualenv folder
/venv

# Folder to download the data
/data

# Pycharm things
.idea

# Python cache
__pycache__

.env

# Temporal folder to dump json data
/temp

# Google credentials
/google_creds


.ruff_cache